<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/aplicacao.log</file>
        <encoder>
            <pattern>%d{dd/MM - HH:mm} | %X{usuario} %msg.%n%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>